# Variables de entorno — NUNCA subir al repo
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Docker
*.log

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store
